/* src/components/CreatePage.css */
.create-page {
    padding: 20px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 45px;
  }
  
  .create-form {
    display: flex;
    flex-direction: column;
  }

  .section {
    display: flex;
  }

  .name-field {
    margin-left: 100px;
    margin-bottom: 20px;
    width: 40%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
  }
  .input-field {
    margin-left: 100px;
    margin-bottom: 20px;
    width: 80%;
    height: 180px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
  }
  
  .input-file {
    margin-bottom: 20px;
    margin-left: 100px;
  }
  
  .submit-button {
    width: 100px;
    justify-content: right;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }

  .image-section {
    display: flex;
    align-items: baseline;
  }

  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    max-height: 100px;
  }
  
  .image {
    max-height: 100px;
    width: auto;
  }
